*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

body{
	background: #DAFFE2
}

form{
	width: 700px;
	margin: auto;
	background-color: #84F29D;
	margin-top: 100px;
	text-align: center;
}

input{
	margin: 12px;
	padding: 8px;
	width: 640px;
	font-size: 18px;
	margin-bottom: 8px;
}


textarea{
	margin: 12px;
	padding: 8px;
	width: 640px;
	font-size: 18px;
	resize: none;
}
